.back {
    color: #057905;
    & ion-icon {
        margin-bottom: -2px;
    }
}

.dia {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    white-space: nowrap;
}

.data {
    width: 50%;
}

.data-numbers {
    color: #fff;
}

.data-text {
    color: #C2C2C2;
}

.list {
    padding: 7%;
    margin: 0;
    & ion-item {
        border-bottom: 1px solid #1E1E1E
    }
    & ion-label {
        color: #A9A8A8;
        font-family: 'Poppins', sans-serif;
    }
}

.list {
    padding: 7%;
    margin: 0;
    & ion-item {
        border-bottom: 1px solid #1E1E1E
    }
    & ion-label {
        color: #A9A8A8;
        font-family: 'Poppins', sans-serif;
    }
}

.nsm-dialog-btn-close {
    display: none;
}

.salvarTask {
    background: none;
    color: green;
    border: none;
    font-size: 1em;
    margin: 0 15px
}

.bg-none {
    background: none;
    & ion-item {
        color: #cacaca;
        background: #000
    }
}

.alert-checkbox-label {
    color: grey
}

.opcoes {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    margin: 8px;
    z-index: 99999;
}