<ion-content class="p-10 ion-padding">
    <div class="ion-padding">
        <ion-row class="tittle ion-padding">
            <h1>Faça<br> agora
                <br> seu login</h1>
        </ion-row>
        <ion-row class="ion-padding">
            <div class="google"><img src="../../assets/social/google.svg"></div>
            <div class="facebook"><img src="../../assets/social/facebook.svg"></div>
            <div class="twitter"><img src="../../assets/social/twitter.svg"></div>
        </ion-row>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding">
        <ion-title><small>v.1.0</small></ion-title>
    </ion-toolbar>
</ion-footer>