<ion-header>
    <ion-toolbar class="line1 bg-gray">
        <div slot="start" class="contagem">
            <span class="counter">0</span>
            <img class="logo-top" src="../../assets/common/supino.svg">
        </div>
        <div class="btns-top">
            <a href="./home" class="btn-calendario " size="small">Calendário</a>
            <a class="btn-tarefas active" size="small">Tarefas</a>
        </div>
        <div slot="end" class="data">
            <div class="dia-semana">{{today | date:'EEEE'}}</div>
            <div class="dia-mes">{{today | date:'dd/MM/yyyy'}}</div>
        </div>
    </ion-toolbar>
</ion-header>