<ion-header>
    <ion-toolbar class="line1 bg-gray">
        <div slot="start" class="contagem">
            <span class="counter">0</span>
            <img class="logo-top" src="../../assets/common/supino.svg">
        </div>
        <div class="btns-top">
            <a href="./home" class="btn-calendario " size="small">Calendário</a>
            <a class="btn-tarefas active" size="small">Tarefas</a>
        </div>
        <div slot="end" class="data">
            <div class="dia-semana">{{today | date:'EEEE'}}</div>
            <div class="dia-mes">{{today | date:'dd/MM/yyyy'}}</div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="list" ion-padding ion-margin>

        <ion-item-sliding>
            <ion-item>
                <ion-label>Ombro</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="unread(item)">Excluir</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
                <ion-label>Costas</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="unread(item)">Excluir</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>


    </ion-list>

    <!-- BTN + -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentAlert()" color="dark">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>