// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-header {
    --ion-background-color: #131313;
    --background-color: #131313;
    background-color: #131313;
}

ion-footer {
    --ion-background-color: #131313;
    --background-color: #131313;
}

ion-content {
    --ion-background-color: #131313;
}

ion-fab-buton {
    --background: #000;
}

.bg-gray {
    background-color: #131313;
    --background: #131313;
}

.bg-gradient {
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 10%, rgba(16, 16, 16, 1) 100%);
    --background: linear-gradient(180deg, rgba(19, 19, 19, 1) 10%, rgba(16, 16, 16, 1) 100%);
}

.line1 {
    --min-height: 65px;
}

.line2 {
    --min-height: 100px;
    & h1 {
        color: #ffffff;
        font-size: 1em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        padding: 4px 0 6px 0;
        letter-spacing: 0.02em;
    }
    & h2 {
        color: #D0D0D0;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        font-weight: 300
    }
    & h3 {
        color: #6F6F6F;
        font-size: 0.6em;
        margin: 0;
        padding: 0;
    }
    & ion-tittle {
        text-align: center
    }
}

.arrow-ico-left,
.arrow-ico-right {
    width: 3.5%;
    z-index: 9;
}

.arrow-ico-left {
    margin-left: 20px
}

.arrow-ico-right {
    margin-right: 20px;
}

.contagem {
    z-index: 9;
    color: grey;
    margin-left: 20px;
    width: 20%;
}

.data {
    z-index: 9;
    color: grey;
    margin-right: 20px;
    width: 20%
}

.dia-semana,
.dia-mes {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6em
}

.dia-semana {
    color: #898989;
}

.dia-mes {
    color: #B8B7B7;
}

.logo-top {
    width: 35%;
    margin-left: 6px;
    margin-bottom: -3px;
}

.counter {
    color: #057905;
}

.btn-calendario,
.btn-tarefas {
    border: 1px solid grey;
    --background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 300;
    font-size: 0.7em !important;
    padding: 3px 15px;
    color: #fff;
    width: 120px;
    text-decoration: none;
}

.btn-tarefas {
    margin-left: 7px
}

.active {
    background: #ffffff !important;
    color: #000 !important
}

.txt-c {
    text-align: center
}

.btns-top {
    text-align: center;
    margin-top: -5px;
}

.alert-wrapper {
    background: #000 !important
}

.alert-title {
    color: #A9A8A8 !important
}

.alert-button.sc-ion-alert-ios {
    color: green !important
}