<ion-header>

    <ion-toolbar class="line1 bg-gray">
        <div slot="start" class="contagem">
            <span class="counter">0</span>
            <img class="logo-top" src="../../assets/common/supino.svg">
        </div>
        <div class="btns-top">
            <a class="btn-calendario active" size="small">Calendário</a>
            <a href="./tarefas" class="btn-tarefas" size="small">Tarefas</a>
        </div>
        <div slot="end" class="data">
            <div class="dia-semana">{{today | date:'EEEE'}}</div>
            <div class="dia-mes">{{today | date:'dd/MM/yyyy'}}</div>
        </div>
    </ion-toolbar>

    <ion-toolbar class="line2 bg-gradient">
        <img slot="start" class="arrow-ico-left" src="../../assets/common/arrow-left.svg">
        <ion-title class="txt-c">
            <h2>{{today | date:'MMMM'}}</h2>
            <h1>{{weekNumber}}° Semana</h1>
            <h3>{{startWeek | date:'dd/MM/yy'}} - {{endWeek | date:'dd/MM/yy'}}</h3>
        </ion-title>
        <img slot="end" class="arrow-ico-right" src="../../assets/common/arrow-right.svg">
    </ion-toolbar>

</ion-header>

<ion-content>

    <ul class="week-days">
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek | date:'dd/MM'}}</div>
                <div class="day-list">segunda</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek.add('d', 1) | date:'dd/MM'}}</div>
                <div class="day-list">terça</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek.add('d', 1) | date:'dd/MM'}}</div>
                <div class="day-list">quarta</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek.add('d', 1) | date:'dd/MM'}}</div>
                <div class="day-list">quinta</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek.add('d', 1) | date:'dd/MM'}}</div>
                <div class="day-list">sexta</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{startWeek.add('d', 1) | date:'dd/MM'}}</div>
                <div class="day-list">sábado</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
        <li>
            <div class="items-date">
                <div class="date-list">{{endWeek | date:'dd/MM'}}</div>
                <div class="day-list">domingo</div>
            </div>
            <div class="items-divider"></div>
            <div class="items-list">
                <span>Ombro</span>
                <span>Costas</span>
            </div>
        </li>
    </ul>

</ion-content>